# cmake
build/*

# clangd
.cache/*

# data
data/*
!data/toy/
data/toy/*
!data/toy/A.bin
!data/toy/B.bin
!data/toy/metadata.json

# local files
*local*

# logs
logs

# python
__pycache__

# perf
perf.data
perf.data.old