# cmake
build/*

# clangd
.cache/*

# data
data/*
!data/gmm/
data/gmm/*
!data/gmm/A.bin
!data/gmm/B.bin
!data/gmm/metadata.json

# local files
*local*

# logs
logs

# python
__pycache__

# perf
perf.data
perf.data.old