# cmake
build/*

# clangd
.cache/*

# data
data/*
!data/synthetics/
data/synthetics/*
!data/synthetics/A.bin
!data/synthetics/B.bin
!data/synthetics/metadata.json
!data/federalist/
data/federalist/*
!data/federalist/A.bin
!data/federalist/B.bin
!data/federalist/metadata.json

# local files
*local*

# logs
logs

# python
__pycache__

# perf
perf.data
perf.data.old